extends ../layout

block content
  h1 Login
  form(action="/sessions" method="post")
    .input-gloup
      label(for="user[email]") Email
      input(type="email" name="user[email]" placeholder="Enter your email")
    .input-gloup
      label(for="user[password]") Password
      input(type="password" name="user[password]")
    input(type="submit" value="Login")

